<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Output</title>
</head>

<body>
	<table>
		<tr>
			<td>Entered User name :</td>
			<td>
				<h2 th:text=${userData.userName}></h2>
			</td>
		</tr>

		<tr>
			<td>Entered Email :</td>
			<td><h2 th:text=${userData.email}></h2></td>
		</tr>
	</table>
</body>
</html>